.fon
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    float: left;
     justify-content: center;
     align-items:center;
   padding-left: 500px;
   padding-top: 200px;
     color: aliceblue;
   

    
    
}
body{
    background: url(..//images/login.jpg)  center center fixed;
    background-size: cover;
 
}



