.safe div
{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: rgb(191, 192, 188);
    ;

    
}
sh:hover{
    background-color:black
}
.safe a{
    color: darkorange;
    display: inline-flex;
}
img
{
    margin-left: 300px;
}
.found
{
    margin-left: 900px;
    font-family: initial;
    color: rgb(10, 10, 10);
}
.ind
{
   padding-left: 1000px;
   font-style: oblique;
   color: crimson;
}

.input-group{
    padding-left: 110px;
}