body{
     background-image: "images/2.jpeg" ;
}
h1{
     font-family: audiowide;
}
.arav {
     place-items: center;
     text-align:center;
     font-family: "bold italic";
     display: flex;
	justify-content: center;
      background-color: rgb(8, 8, 5);
      height: 300px;
}


.arav1{
     font-family: "intact";
     font-size: 20px;
     text-align: center;
}
.arav2
{   
     font-size: 30;
     font-family: "italic";
     background-color: grey;
} 
     



.arav3 li 
{
      float: left;
      border-right:1px solid whitesmoke ;
      
}


li a
{
     display: block;
     background-color:BLACK;
      color: white;
      padding: 18px 20px;

}

   
    

.arav3 ul 
{ 
     list-style-type: none;
     margin: 0;
     padding:0;
     overflow: hidden;
    text-align: "center";
    
}
.arav4
{
     float: right;
     
}
.ab img 
{
  width: 100%;

}


a:hover{
     background-color: red;
}
.rt 
p{
     font-family: "segoe print";
     font-size: 40px;
     text-align: center;
}

.images{
     background-color: blueviolet;
     display: flex;
     gap: 100px;
}

.raja
{
     text-align: center;
     font-family: "Georgia";
     font-size: 50px;
}

.qq
{
     display: flex;
     gap:10px;
}


.swiper {
  width: 1000px;
  height: 300px;
}

.abt{
     font-size: larger;
     background-color: #0603a5;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.us{
     font-size: 30;
     font-family:Georgia;

}
.safe  li
{
     font-size: 200px;
     text-align: center;
}

safe li a
{
     display: block;
     background-color:BLACK;
      color: white;
      padding: 18px 20px;

}

   
    

.safe ul 
{ 
     list-style-type: none;
     margin: 0;
     padding:0;
     overflow: hidden;
    text-align: "center";
    
}